@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", system-ui;
  /* border: 1px solid red; */
  text-decoration: none;
  font-family: "Poppins", serif;
  margin: 0 !important;
  
}

img{
  width: 100%;
  max-width: 100%;
}

button{
  border: none;
  outline: none;
  font-size: 14px !important;
  padding: 10px 14px;
}

.main-btn{
  position: relative;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #0056b3, #55a1e3);
  transition:300ms ease-in-out;
  z-index: 1000;
  
}

.main-btn span {
  position: relative;
  z-index: 1; /* Ensures the text is above the overlay */
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #187ED7, #065893ac);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  color: #ffffff;
  z-index: 0; 
}

.main-btn:hover::before {
  opacity: 1;
}


body{
  color: #333 !important;
  background-color: #E5E8EE !important;

}

p{
  font-size: 14px !important;
}

.container2{
  width: 84%;
  margin: 0 auto !important;
}

.nav-link{
  font-size: 14px !important;
}

li, small {
  font-size: 13px !important;

}

/* =======NAVBAR STYLES HERE======= */
.header{
  height: 70px;
}






/* =======CARD STYLING */
.trial{
  color: #ffffff;
  min-height: 170px;
  background-color: #3E405A;

}





/* =======FOOTER STYLES HERE======= */

input {
  border: 1px solid #ccc;
  outline: none;

}


form input{
  padding: 9px 1rem;
  display: block;
  width: 100% !important;
  font-size: 13px;  
}


form .send{
  padding: 10px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem !important;
}

.footer{
  background-color: #3E405A;
  color: #ffffff !important;
}








/* =======MEDIA QUERIES======= */
@media (max-width: 767px) {
  .container2{
    width: 92%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.7rem;
  }
}


@media (max-width: 576px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.7rem;
  }

  form{
    border-radius: 0.8rem;
    padding: 9px;
    display: block;
    max-width: 400px !important;
  }

}