@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", system-ui;
  /* border: 1px solid red; */
  text-decoration: none;
  font-family: "Poppins", serif;
  margin: 0 !important;
  color: #333 !important;
  
}

img{
    width: 100%;
    max-width: 100%;
}

p{
  font-size: 14px !important;
}


.header{
  height: 60px;
}


.container2{
  width: 84%;
  margin: 0 auto !important;
}

.nav-link{
  font-size: 14px !important;
}

li, small {
  font-size: 13px !important;

}

input {
  border: 1px solid #ccc;
  outline: none;

}

form{
}

form input{
  padding: 9px 1rem;
  display: block;
  width: 100% !important;
  font-size: 13px;
  /* border: none; */
  
}



button{
  border: none;
  outline: none;
}

form .send{
  padding: 10px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem !important;
  /* gap: 2rem !important; */
}


@media (max-width: 767px) {
  .container2{
    width: 92%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.7rem;
  }
}


@media (max-width: 576px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.7rem;
  }

  form{
    border-radius: 0.8rem;
    padding: 9px;
    display: block;
    max-width: 400px !important;
  }

}