@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", system-ui;
  /* border: 1px solid red; */
  text-decoration: none;
  font-family: "Poppins", serif;
  margin: 0 !important;
  
}

img{
  width: 100%;
  max-width: 100%;
}

button{
  border: none;
  outline: none;
  font-size: 14px !important;
  padding: 10px 14px;
}

.muted{
  opacity: 0.7;
}

.main-btn{
  position: relative;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #0056b3, #55a1e3);
  transition:300ms ease-in-out;
  z-index: 1000;
  
}

.btn-play{
  background-color: #0056b3;
  border-radius: 50%;
  color: #ffffff;
  padding: 4px !important;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px !important;
}

.color{
  color: #0056b3;
  font-weight: bold;
}

.home{
  position: relative;
}

.medic{
  position: absolute;
  width: 240px;
  opacity: 0.1;
}

.med-home{
  top: 0rem;
  left: -7rem;
}

.main-btn span {
  position: relative;
  z-index: 1; /* Ensures the text is above the overlay */
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #187ED7, #065893ac);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  color: #ffffff;
  z-index: 0; 
}

.main-btn:hover::before {
  opacity: 1;
}


body{
  color: #333 !important;
  background-color: #E5E8EE !important;

}

p{
  font-size: 14px !important;
}

.container2{
  width: 84%;
  margin: 0 auto !important;
}

.nav-link{
  font-size: 14px !important;
}

li, small {
  font-size: 13px !important;

}

/* =======NAVBAR STYLES HERE======= */
.header{
  height: 70px;
}





/* =======HERO STYLES======== */
.hero{
  min-height: 400px;
}




/* =====INTRO STYLES======== */
.introo{
  overflow: auto;
  position: relative;
}


.med-intro{
  right: 0 !important;
  top: 8rem;
}

.intro-img{
  position: relative;
}

.intro-card{
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  object-fit: contain;
  /* border-radius: 10px; */
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3e405a50;
  z-index: -1;
  /* border-radius: 10px; */
}

.first{
  top: 1.4rem;
  left: -1.4rem;
  
}


.sec{
  position: absolute;
  top: 1.4rem !important;
  right: -1.4rem !important;
}

.intro-card img{
  width: 100%;
}




/* =======CARD STYLING */
.trial{
  color: #ffffff;
  min-height: 170px;
  background-color: #3E405A;

}




/* ======SERVICES STYLES====== */
.grid1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.7rem;
}

.service-card{
  position: relative;
  background-image: linear-gradient(40deg, #f1f1f1, #E5E8EE);
  padding: 2rem;
  background-color: #3E405A;
  border-radius: 8px;
  /* color: #ffffff; */
  border: 1px solid #cccccc7e;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  
}

.service-card:hover{
  color: #ffffff;
}

.service-card:hover::before {
  opacity: 1;
}



.serv-image{
  width: 50px;
}



.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #187ED7, #065893ac);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  color: #ffffff;
  z-index: 0; 
}

.service-card > *{
  z-index: 1;
  position: relative;
}





/* =======FOOTER STYLES HERE======= */

input {
  border: 1px solid #ccc;
  outline: none;

}


form input{
  padding: 9px 1rem;
  display: block;
  width: 100% !important;
  border: none;
  border-radius: none !important;
  font-size: 13px;  
}




.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem !important;
}

.footer{
  background-color: #3E405A;
  color: #ffffff !important;
}

.footer small, .footer .nav-link{
  opacity: 0.7;
}









/* =======MEDIA QUERIES======= */
@media (max-width: 767px) {
  .container2{
    width: 92%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.7rem;
  }

  .first{
    top: 1rem;
    left: -1rem;
    

  }

  .sec{
    top: 1rem !important;
    left: -1rem !important;
    
  }
}


@media (max-width: 576px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.7rem;
  }

  form{
    border-radius: 0.8rem;
    padding: 9px;
    display: block;
    max-width: 400px !important;
  }

}